/* RESET */

html{
    font-size: 100%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

body{
    font-family: 'Circular Std', sans-serif;
    color: #75777c;
}

a, a:hover, a:visited{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.rotatey-180deg{
    transform: rotateY(180deg);
}

/* FONT SIZES */

.font-lg{
    font-size: 25px;
}

.font-md{
    font-size: 20px;
}

.font-sml{
    font-size: 14px;
}

/* COLORS */

.clr-white{
    color: white;
}

/* FLEX */

.flex{
    display: flex;
}

.flx-col{
    flex-direction: column;
}

.jtf-ct-end{
    justify-content: flex-end;
}

.jtf-ct-center{
    justify-content: center;
}

.jtf-ct-sp-bw{
    justify-content: space-between;
}

.jtf-ct-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-items: center;
}

.flx-wrap{
    flex-wrap: wrap;
}

/* BUTTONS */

.btn{
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid white;
    border-radius: 3.125rem;
    text-transform: uppercase;
}

/* MAIN */

main{
    width: 100vw;
    height: calc(100vh - 100px);
}

/* MENU SIDE */

section#menu-side{
    width: 230px;
    height: 100%;
    background-color: #000000;
    position: relative;
}

#nav-top #logo{
    height: 85px;
    padding-left: 2rem;
}

#nav-top #logo .logo-sm{
    display: none;
}

#nav-top #logo .logo-lg{
    height: 50px;
}

nav#menu ul li, nav#playlist ul li, nav#playlist h4, nav#playlist span{
    padding-left: 2rem;
    position: relative;
}

#menu{
    margin-bottom: 1.8rem;
}

#menu ul li:not(:last-child){
    padding-top: .4rem;
    padding-bottom: .4rem;
}

li.active::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 100%;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    top: 0;
}

#menu ul li i{
    font-size: 1.8rem;
    width: 2rem;
    vertical-align: middle;
}

#playlist h4{
    margin-bottom: .5rem;
}

#playlist span.new-playlist i{
    font-size: 3rem;
    width: 3rem;
    vertical-align: middle;
}

#playlist ul{
    overflow-y: scroll;
    max-height: 50%;
}

#playlist ul li{
    margin-top: .8rem;
}

#nav-bot{
    padding: 0 2rem;
    background-color: #000000;
    position: relative;
}

#nav-bot .download{
    border-bottom: 1px solid grey;
    padding: .5rem 0;
}

#nav-bot .user{
    padding: .5rem 0;
}

#nav-bot .user i{
    font-size: 2rem;
    vertical-align: sub;
    margin-right: .4rem;
}

#nav-bot .user span{
    font-size: 1.2rem;
}


/* MAIN CONTENT */

section#main-content{
    width: calc(100vw - 230px);
    height: 100%;
}

div#cta{
    height: 85px;
    width: 100%;
    padding-right: .5rem;
    background: #080b12;
}

div#content{
    height: calc(100% - 85px);
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
}

.main-nav ul li{
    display: inline-block;
    padding: 1rem 0;
    position: relative;
}

.main-nav ul li.nav-main-active::after{
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: greenyellow;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.main-nav ul li:not(:last-child){ /* forse questo a da eliminare */
    margin-right: 1.2rem;
} 

.main-nav ul li a{
    color: #75777c;
    text-transform: uppercase;
    font-weight: bolder;
}

/* MAIN CONTENT */

.list-songs{
    gap: .8rem;
}

.box-song{
    width: 200px;
    text-align: center;
}

.box-song img{
    width: 100%;
}


/* FOOTER */

footer{
    width: 100vw;    
    height: 100px;
    padding: 0 1rem;
    background-color: #282828;
}

.col-left .song{
    margin-right: 3rem;
}

.col-left .song img{
    height: 3rem;
}

.col-left .song .song-title{
    margin-left: 1rem;
}

.col-left .song-icon .fa-heart{
    margin-right: .6rem;
}

.col-middle{
    width: 40%;
}

.col-middle .play-icon i:not(:last-child){
    margin-right: 2rem;
}

.col-middle .play-progress .progress{
    width: 100%;
    height: 5px;
    background-color: grey;
    margin: 0 1rem;
}

.progress .bar-progress{
    width: 30%;
    height: 100%;
    background-color: white;
}

.col-right i{
    margin-right: 1.2rem;
}



/* TABLET */
@media screen and (min-width: 768px){

    /* MAIN */

    /* section#menu-side{
        width: 25vw;
        height: 100%;
    }

    section#main-content{
        width: 75vw;
        height: 100%;
    } */
}

/* MOBILE SMALL */
@media screen and (min-width: 576px){

    /* MAIN */

    /* section#menu-side{
        width: 30vw;
        height: 100%;
    }

    section#main-content{
        width: 70vw;
        height: 100%;
    } */
}

/* MOBILE XSMALL */

@media screen and (max-width: 575.98px){

    /* MAIN */

    section#menu-side{
        width: 45px;
        height: 100%;
    }
    
    #nav-top #logo{
        height: auto;
        padding-left: 0;
        padding: .4rem;
    }

    #nav-top #logo .logo-sm{
        display: inline-block;
        width: 40px;
    }
    
    #nav-top #logo .logo-lg{
        display: none;
    }
    
    nav#menu ul li, nav#playlist ul li, nav#playlist h4, nav#playlist span{
        padding-left: 0;
    }
    
    #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li.active::before{
        display: none;
    }
    
    #menu ul li i{
        font-size: 1.4rem;
        width: auto;
        vertical-align: middle;
    }

    #menu ul li span{
        display: none;
    }

    #playlist{
        display: none;
    }
    
    #nav-bot{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #nav-bot .download{
        border-bottom: 0 solid grey;
        padding-bottom: .5rem;
    }

    #nav-bot .download span{
        display: none;
    }
    
    #nav-bot .user{
        padding: .5rem 0;
    }

    #nav-bot .user i{
        margin: 0;
    }
    
    #nav-bot .user span{
        display: none;
    }

    section#main-content{
        width: calc(100vw - 45px);
        height: 100%;
    }
}