/* RESET */

html{
    font-size: 100%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

body{
    font-family: 'Circular Std', sans-serif;
    color: #75777c;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

.rotatey-180deg{
    transform: rotateY(180deg);
}

/* FONT SIZES */

.font-lg{
    font-size: 25px;
}

.font-md{
    font-size: 20px;
}

.font-sml{
    font-size: 14px;
}

/* COLORS */

.clr-white{
    color: white;
}

/* FLEX */

.flex{
    display: flex;
}

.flx-col{
    flex-direction: column;
}

.jtf-ct-end{
    justify-content: flex-end;
}

.jtf-ct-sp-bw{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/* BUTTONS */

.btn{
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid white;
    border-radius: 3.125rem;
    text-transform: uppercase;
}

/* MAIN */

main{
    width: 100vw;
    height: calc(100vh - 100px);
}

/* MENU SIDE */

section#menu-side{
    width: 15vw;
    min-width: 200px;
    height: 100%;
    background-color: #000000;
}

section#menu-side .logo{
    height: 10%;
}

section#menu-side .logo img{
    height: 50px;
}

section#menu-side .menu-content{
    height: 90%;
}

.menu-content nav ul li{
    padding-left: 1.5rem;
}

nav .nav-bar i{
    height: 20px;
}

/* MAIN CONTENT */

section#main-content{
    width: 85vw;
    height: 100%;
}

div#cta{
    height: 10%;
    min-height: 86px;
    width: 100%;
    padding-right: .5rem;
    background: #080b12;
}

div#content{
    height: 90%;
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
}

/* FOOTER */

footer{
    width: 100vw;
    height: 100px;
    min-height: 100px;
    padding: 0 1rem;
    background-color: #282828;
}

.song{
    margin-right: 3rem;
}

.footer-song .song img{
    height: 3rem;
}

.song-title{
    margin-left: 1rem;
}

.footer-song .song-icon .fa-heart{
    margin-right: .6rem;
}

.footer-play .play-icon i:not(:last-child){
    margin-right: 2rem;
}

.footer-sound i{
    margin-right: 1.2rem;
}



/* TABLET */
@media screen and (max-width: 768px){

    /* MAIN */

    /* section#menu-side{
        width: 25vw;
        height: 100%;
    }

    section#main-content{
        width: 75vw;
        height: 100%;
    } */
}

/* MOBILE SMALL */
@media screen and (max-width: 576px){

    /* MAIN */

    /* section#menu-side{
        width: 30vw;
        height: 100%;
    }

    section#main-content{
        width: 70vw;
        height: 100%;
    } */
}

/* MOBILE XSMALL */

@media screen and (max-width: 460px){

    /* MAIN */

    /* section#menu-side{
        width: 10vw;
        height: 100%;
    }

    section#main-content{
        width: 90vw;
        height: 100%;
    } */
}